extends app.pug

append content
	if user
		div(class="columns")
			div(class="column is-one-fifth" style="max-width: 400px")
				include ../mixins/zoneSidebar.pug
				include ../mixins/onces/zoneSidebar.pug
				+zoneSidebar({
					name: `${user.name}`,
					purl: user.purl,
					zurl: zurl,
					zones: user.zones,
				},{
					owner: (authPurl && authPurl === user.purl)
				})

			div(class="column")
				block content
	else
		include ../snippets/zone_purl_404.pug