html
	head
		block head
		block meta
			meta(id="meta_data" data-authPurl=authPurl data-queryParams=queryParams)
			meta(name="viewport" content="width=device-width, initial-scale=1")

		block localisations

		block styles
			include ../snippets/styles

		block scripts
			script(src="/public/scripts/vendors.min.js")

	body
		block header
			include ../snippets/header.pug

		div(class="container is-fluid")
			block content

		block footer
			include ../snippets/footer.pug