.rank-item-list {
	background-color: $white;
	overflow-y: auto;

	.rank-item-button {
		box-sizing: border-box;
		padding: 12px;
	}

	.rank-item {
		width: 100%;
		position: relative;
		padding: $size-7;

		&:hover {
			background-color: $white-ter;
			transition: background-color $speed $easing;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -0.5px;
			width: 90%;
			left: 5%;
			height: 1px;
			background-color: $grey-lighter;
			z-index: 1;
		}

		.media {
			align-items: stretch;
			.media-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.rbox {
					margin-top: 16px;
				}
			}
		}

		.rank-number {
			background-color: $grey-lighter;
		}

		.rank-location {
			&:hover {
				cursor: hand;
				cursor: pointer;
				color: $black;
				transition: color $speed $easing;
			}
		}
	}
}