.rater {
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: hand;
	cursor: pointer;
	
	.rating-box {
		width: 22px;
		height: 16px;
		border-radius: 4px;
		border: 1px solid black;
		margin: 0;
		margin-left: 5px;
		margin-right: 5px;
		padding: 0;

		&.is-large {
			width: 96px;
			height: 96px * (16px/22px);
			border-radius: 12px;
			margin-left: 10px;
			margin-right: 10px;

			&.rating-1 {
				box-shadow: $color-rating-1 0 0 2px;
				border-color: $color-rating-1;
			}
			&.rating-2 {
				box-shadow: $color-rating-2 0 0 6px;
				border-color: $color-rating-2;
			}
			&.rating-3 {
				box-shadow: $color-rating-3 0 0 24px;
				border-color: $color-rating-3;
			}
			&.rating-4 {
				box-shadow: $color-rating-4 0 0 34px;
				border-color: $color-rating-4;
			}
			&.rating-5 {
				box-shadow: $color-rating-5 0 0 40px;
				border-color: $color-rating-5;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.rating-1 {
			background: $color-rating-1;
		}
	
		&.rating-2 {
			background: $color-rating-2;
		}
	
		&.rating-3 {
			background: $color-rating-3;
		}
	
		&.rating-4 {
			background: $color-rating-4;
		}
	
		&.rating-5 {
			background: $color-rating-5;
		}
	}

	
}