.rbox {
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	width: 240px;

	.rbox-title {
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: $size-7;
		border: 1px solid $grey;
		background-color: $white;
		border-bottom: 0;
		padding: 0;
	}

	.rbox-average {
		height: 18px;
		border: 1px solid $grey;
		background: linear-gradient(to right, $color-rating-1, $color-rating-2, $color-rating-3, $color-rating-4, $color-rating-5);
		position: relative;

		.rbox-average-rating {
			position: absolute;
			right: 0;
			height: 100%;
			background: linear-gradient(to right, rgba(0,0,0,0), $white 20%);

			&.is-1 {
				width: 100%;
			}
			&.is-2 {
				width: 80%;
			}
			&.is-3 {
				width: 55%;
			}
			&.is-4 {
				width: 28%;
			}
			&.is-5 {
				width: 0%;
			}
		}
	}
	
	.rbox-rater {
		display: flex;
		padding: $size-7;
		padding-top: 4px;
		padding-bottom: 4px;
		border: 1px solid $grey;
		border-top: 0;
		background: $white;

		.rbox-rate {
			flex: 1;
			height: 18px;
			margin-left: 5px;
			margin-right: 5px;
			border: 1px solid $grey;

			&.is-1 {
				background: $color-rating-1;
				margin-left: 0;
			}

			&.is-2 {
				background: $color-rating-2;
			}

			&.is-3 {
				background: $color-rating-3;
			}

			&.is-4 {
				background: $color-rating-4;
			}

			&.is-5 {
				background: $color-rating-5;
				margin-right: 0;
			}

			&.is-usable {
				cursor: hand;
				cursor: pointer;
			}
		}
	}
}