include ../mixins/rank-item.pug
each r in rankings
	+rank-item({
		id: r.id,
		point: r.zone.user.location.point,
		name: r.zone.user.name,
		nameHref: "#",
		zone: r.zone.name,
		zoneHref: "#",
		location: r.zone.user.location.formatted_address,
		imgSrc: "/public/images/placeholder.jpg",
		rankNumber: 1,
		rbox: {
			trait: r.trait.name,
			traitPath: r.trait.name,
			average: r.average_rating,
			nRatings: r.number_ratings,
		}
	}, {})