-
	function updateQueryParams(updates){
		const t = {
			page: "page" in updates ? updates.page : queryParams.page,
			orderBy: "orderBy" in updates ? updates.orderBy : queryParams.orderBy,
			resultsPer: "resultsPer" in updates ? updates.resultsPer : queryParams.resultsPer,
			gender: "gender" in updates ? updated.gender : queryParams.gender,
		}
		return Object.keys(t).map(k => `${k}=${t[k]}`).join("&")
	}

	function getFindPurlHref(purl){
		return `/rankings/${queryParams.trait}?gender=${queryParams.gender}&orderBy=${queryParams.orderBy}&resultsPer=${queryParams.resultsPer}&find_purl=${purl}`;
	}

html
	head
		include snippets/meta.pug
		title Personzone - Rankings

	body
		include snippets/header.pug

		div(class="container is-fluid" style="padding-top: 16px")
			div(class="box")
				div(class="level")
					div(class="level-item")
						p=queryParams.trait
					div(class="level-item")
						p Worldwide
					div(class="level-item")
						button(class="button" id="rankings_change-search-button") Change parameters
					if authPurl
						div(class="level-item")
							a(class="button" href=getFindPurlHref(authPurl)) Find me

			div(class="columns is-multiline" style="overflow-y: auto")
				- currentRankIndex = 0
				include mixins/rankItem.pug
				each r in rankings
					div(class="column is-6-desktop")
						+rankItem({
							rank: r.rank,
							name: `${r.zone.user.first_name} ${r.zone.user.last_name}`,
							zone_name: r.zone.name,
							job_title: r.zone.user.job_title,
							location: r.zone.user.location,
							account_href: `/a/${r.zone.user.purl}`,
							zone_href: `/a/${r.zone.user.purl}/z/${r.zone.zurl}`,
							avatar_src: `/api/users/${r.zone.user.purl}/avatar`,
							rating: Math.ceil(Number(r.final_rating)),
							rating_title: r.trait.name,
							number_ratings: r.total_ratings
						},{
							highlight: r.zone.user.purl === queryParams.find_purl
						})
					- currentRankIndex += 1
							

			div(class="box")
				nav(class="pagination is-right" role="pagination")
					div(id="rankings_nav-results-per" class="pagination-link")
					a(
						class="pagination-previous"
						disabled=(queryParams.page <= 0)
						href=`/rankings/${queryParams.trait}?${updateQueryParams({page: queryParams.page-1})}`
					) Previous
					a(
						class="pagination-next" 
						disabled=(queryParams.page >= (Math.ceil(totalRanks / queryParams.resultsPer)-1))
						href=`/rankings/${queryParams.trait}?${updateQueryParams({page: queryParams.page+1})}`
					) Next
					ul(class="pagination-list")
						include mixins/paginationNumbers.pug
						+paginationNumbers(
							queryParams.page,
							Math.ceil(totalRanks / queryParams.resultsPer) - 1,
							page => `/rankings/${queryParams.trait}?${updateQueryParams({page})}`
						)

		div(id="rankings_search-modal")
		script(src="/public/scripts/pz-rankings.min.js"
			data-startSearchModalOpen=!queryParams.trait
			data-queryParamTrait=queryParams.trait
			data-queryParamResultsPer=queryParams.resultsPer
			data-queryParamOrderBy=queryParams.orderBy
			data-queryParamGender=queryParams.gender
		)