-
	function getPageUrl(page){
		return `/a/${purl}/feedback/?page=${page}&orderBy=${queryParams.orderBy}&resultsPer=${queryParams.resultsPer}`;
	}

html
	head
		include snippets/meta.pug
		title Personzone - Feedback
		script(src="/public/scripts/pz-feedback.min.js")

	body
		include snippets/header.pug

		div(class="container is-fluid" style="padding-top: 16px")
			div(class="columns")
				div(class="column is-one-fifth" style="max-width: 400px")
					include mixins/zoneSidebar.pug
					include mixins/onces/zoneSidebar.pug
					+zoneSidebar({
						name: `${user.first_name} ${user.last_name}`,
						purl,
						zones: user.zones
					},{
						owner: (authPurl === purl)
					})

				div(class="column")
					div(class="box")
						div(class="field is-grouped is-grouped-multiline")
							div(class="field")
								label(class="label") Filter by zone
								div(class="control has-icons-left")
									div(class="select")
										select(id="feedback_control-filter-zone")
											option(value="" selected=(!queryParams.zurl || queryParams.zurl === null)) None
											each z in user.zones
												option(value=z.zurl selected=(queryParams.zurl === z.zurl))=z.name
											
									div(class="icon is-small is-left")
										i(class="fa fa-filter")
								
							div(class="field") &nbsp;

							div(class="field")
								label(class="label") Filter by subzone
								div(class="control has-icons-left" style="min-width: 150px")
									div(class="select")
										select(id="feedback_control-filter-subzone" disabled=(!queryParams.zurl || queryParams.zurl === null))
											option(value="" selected=(queryParams.subzone === null)) None
											if subzones
												each s in subzones
													option(value=s.id selected=(queryParams.subzone === s.id))=s.name

									div(class="icon is-small is-left")
										i(class="fa fa-filter")

							div(class="field") &nbsp;

							div(class="field")
								label(class="label") Filter thanked
								div(class="control has-icons-left")
									div(class="select")
										select(id="feedback_control-filter-thanked")
											option(value="all" selected=(queryParams.thanked === "all")) All
											option(value="true" selected=(queryParams.thanked === "true")) Only thanked
											option(value="false" selected=(queryParams.thanked === "false")) Only unthanked

									div(class="icon is-small is-left")
										i(class="fa fa-filter")

					div(style="margin-bottom: 1em")
						include mixins/comment.pug
						include mixins/onces/comment.pug
						each c in comments
							+comment({
								id: c.id,
								comment: c.comment,
								zone: c.subzone.zone.name,
								subzone: c.subzone.name
							}, {
								thanked: c.thanked
							})

					div(class="box")
						nav(class="pagination is-right" role="pagination")
							a(
								class="pagination-previous"
								disabled=(queryParams.page <= 0)
								href=getPageUrl(queryParams.page-1)
							) Previous
							a(
								class="pagination-next" 
								disabled=(queryParams.page >= (Math.ceil(totalComments / queryParams.resultsPer)-1))
								href=getPageUrl(queryParams.page+1)
							) Next
							ul(class="pagination-list")
								include mixins/paginationNumbers.pug
								+paginationNumbers(
									queryParams.page,
									Math.ceil(totalComments / queryParams.resultsPer) - 1,
									getPageUrl
								)