extends layouts/app.pug

append scripts
	script(src="/public/scripts/pz-rankings.min.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCne7P8i0jhp2azODj_wKNEbctykMsBBLc")

append content
	div(class="box")
		nav(class="level")
			div(class="level-item has-text-left")
				div
					p(class="heading") Personzone type
					p(class="subtitle") Public
			div(class="level-item has-text-left")
				div
					p(class="heading") Location
					p(class="subtitle")=(placeDetails.formatted_address || "Worldwide")
			div(class="level-item has-text-left")
				div
					p(class="heading") Trait
					p(class="subtitle")=(traitName || "-")
			div(class="level-item has-text-left")
				div
					p(class="heading") Age
					p(class="subtitle") -
			div(class="level-item has-text-left")
				div
					p(class="heading") Gender
					p(class="subtitle") -
			div(class="level-item has-text-left")
				div
					p(class="heading") Occupation
					p(class="subtitle") -
			div(class="level-item has-text-left")
				div
					p(class="heading") Total ranks
					p(class="subtitle")=totalRanks
			div(class="level-item")
				button(id="rankings_open-change-settings-modal-button" class="button") Change settings
					
	div(id="rankings-content" class="columns")
		div(class="column")
			div(class="rank-item-list")
				include ./server-rendering/rank-results.pug

				div(class="level rank-item-button")
					div(class="level-item")
						button(class="button is-info is-fullwidth load-more-button") Load more
		
		div(class="column")
			div(
				id="map" 
				class="box"
				data-viewport=mapViewport
			)
		
	div(id="rankings_change-settings-modal" 
		data-startOpen=(queryParams.trait_id === null)
		data-placeId=(queryParams.place_id)
		data-locationName=(placeDetails.formatted_address)
		data-traitName=(traitName)
		data-traitId=(queryParams.trait_id)
	)