extends layouts/app.pug

append head
	title Personzone - Register

append scripts
	script(src="/public/scripts/pz-register.min.js")

append localisations
	meta(id="locale_register" data-code=locale.locale data-phrases=locale.phrases.register)

append content
	div(class="box")
		div(class="content")
			h4=t("register.title")
			p=t("register.title_caption")
		
		div(id="register_container")