extends layouts/account.pug

append head
	title Personzone - Settings

append scripts
	script(src="/public/scripts/pz-settings.min.js")

append content
	div(class="columns")
		div(class="column")
			div(class="box")
				h1(class="title is-4") Basic Information
				div(id="settings_basic_information")

		div(class="column")
			div(class="box")
				h1(class="title is-4") Something else

				span
					label(class="label") Name
						div(class="columns")
							div(class="column")
								div(class="control")
									input(class="input")

							div(class="column is-narrow")
								div(class="control")
									div(class="select")
										select
											option Public
											option Friends Only
											option Private
				
				span
					label(class="label") Name
						div(class="columns")
							div(class="column")
								div(class="control")
									input(class="input")

							div(class="column is-narrow")
								div(class="control")
									div(class="select")
										select
											option Public
											option Friends Only
											option Private