html
	head
		include snippets/meta.pug
		title Personzone - Testing

	body
		div(class="columns is-desktop" style="margin: 20px")
			div(class="column is-6-desktop")
				include mixins/rankItem.pug
				+rankItem({
					rank: 123,
					name: "Pedro Marques",
					avatar_src: "/api/users/pedro123/avatar",
					zone_name: "Personal",
					account_href: "/a/account_here",
					zone_href: "/a/zone_here",
					rating: 5,
					location: "Norwich"
				})