extends layouts/app.pug

append head
	title Welcome to Personzone

append scripts
	script(src="/public/scripts/pz-welcome.min.js")

append content
	section(class="hero is-primary is-bold is-medium")
		div(class="hero-body")
			div(class="container")
				div(class="media")
					div(class="media-left")
						img(class="image is-128x128" src="/public/images/logo.jpg")
					div(class="media-content")
						h1(class="title")=t("generic_site.name")
						h2(class="subtitle")=t("generic_site.slogan")

	section(class="hero is-small")
		div(class="hero-body")
			div(class="flex" style="flex-direction: column; align-items: center")
				h1(class="title is-4 has-text-centered")=t("welcome.give_rating")
				div(class="container" id="welcome_rater-container")
				meta(id="welcome_rater-locale" data-code=locale.code data-phrases=locale.phrases.welcomeRater)

	if latestUsers
		section(class="hero")
			div(class="hero-body")
				div(class="container is-fluid")
					h1(class="title")=t("welcome.newest_personzones")

					include mixins/userThumbnail.pug
					div(class="columns is-mobile is-multiline")
						for user in latestUsers
							div(class="column is-1-desktop is-half-mobile")
								+userThumbnail({
									name: user.name,
									purl: user.purl,
									location: user.location
								})