extends layouts/account.pug

append head
	title Personzone - #{purl}

append scripts

append localisations

append content
	if authPurl === user.purl && user.auth.email_verified === false
		include mixins/unverifiedEmailMessage.pug
		+unverifiedEmailMessage(user.purl)
	else if email_verification_successful
		include snippets/emailVerificationSuccessful.pug

	if zone.type === "personal"
		include snippets/personal_zone_header.pug
	else
		include snippets/custom_zone_header.pug

	br
	include mixins/zonetraitList.pug
	include mixins/onces/zonetraitList.pug
	+zonetraitList({
		zonetraits: zone.zonetraits,
		username: user.first_name,
		zoneId: zone.id,
		raterPurl: authPurl,
	},{
		loginToRate: (!authPurl),
		enableRating: (authPurl && authPurl !== purl),
		enableCreating: (authPurl && authPurl === purl),
		enableDeleting: (authPurl && authPurl === purl),
	})

	br
	include mixins/subzoneList.pug
	include mixins/onces/subzoneList.pug
	+subzoneList({
		subzones: zone.subzones,
		username: user.first_name,
		zoneId: zone.id,
		commenterPurl: authPurl,
	}, {
		loginToComment: (!authPurl),
		enableCommenting: (authPurl && authPurl !== purl),
		enableCreating: (authPurl && authPurl === purl),
		enableDeleting: (authPurl && authPurl === purl),
	})