meta(
	id="locale_delete-subzone-modal"
	data-locale=locale.locale
	data-phrases=Object.assign(locale.phrases.deleteSubzoneModal, locale.phrases.generic_error)
)

meta(
	id="locale_create-subzone-modal"
	data-code=locale.locale
	data-phrases=Object.assign(locale.phrases.createSubzoneModal, locale.phrases.generic_error)
)

meta(
	id="locale_comment-subzone-modal"
	data-code=locale.locale
	data-phrases=Object.assign(locale.phrases.commentSubzoneModal, locale.phrases.generic_error)
)

script(src="/public/scripts/pz-subzoneList.min.js")