meta(
	id="locale_delete-zonetrait-modal"
	data-code=locale.locale 
	data-phrases=Object.assign(locale.phrases.deleteZonetraitModal, locale.phrases.generic_error)
)

meta(
	id="locale_create-zonetrait-modal"
	data-code=locale.locale
	data-phrases=Object.assign(locale.phrases.createZonetraitModal, locale.phrases.generic_error)
)

script(src="/public/scripts/pz-zonetraitList.min.js")