.rater {
  width: 142px;
  display: flex;
  justify-content: space-between;
  cursor: hand;
  cursor: pointer; }
  .rater .rating-box {
    width: 22px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 0;
    padding: 0; }
  .rater .rating-1 {
    background: blue; }
  .rater .rating-2 {
    background: red; }
  .rater .rating-3 {
    background: pink; }
  .rater .rating-4 {
    background: yellow; }
  .rater .rating-5 {
    background: black; }
