div(class="card")
	div(class="card-header")
		p(class="card-header-title")=zone.name
	
	div(class="card-content")
		div(class="level")
			div(class="level-item has-text-centered")
				div
					p(class="heading") Personzone score
					p(class="title")=Math.round(Math.random()*1000)