nav(class="navbar is-light is-fixed-top" role="navigation")
	div(class="navbar-brand")
		a(class="navbar-item" href="/") PersonZone

		button(id="header_burgerBtn" class="button navbar-burger")
			span
			span
			span

	div(id="header_navbarMenu" class="navbar-menu")
		div(class="navbar-end")
			
			if authPurl
				a(class="navbar-item is-unselectable" href="/a/" + authPurl)=t("header.myzones")
			else
				a(id="header_loginBtn" class="navbar-item is-unselectable")=t("header.login")

			a(class="navbar-item is-unselectable" href="/welcome")=t("header.feed")
			a(class="navbar-item is-unselectable" href="/rankings")=t("header.rankings")

			a(id="header_searchBtn" class="navbar-item is-unselectable")
				i(class="fa fa-search")

			if authPurl
				div(class="navbar-item has-dropdown is-hoverable")
					a(class="navbar-link is-unselectable")
						i(class="fa fa-gear")
					
					div(class="navbar-dropdown is-right")
						a(id="header_logoutBtn" class="navbar-item is-unselectable") Logout

			div(class="navbar-item has-dropdown is-hoverable")
				a(class="navbar-link is-unselectable")
					i(class="fa fa-globe")
				div(class="navbar-dropdown is-right")
					a(class="navbar-item is-unselectable header_set-locale-button" data-locale="en")
						i(class="flag-icon flag-icon-gb")
						| &nbsp;English
					a(class="navbar-item is-unselectable header_set-locale-button" data-locale="pt") 
						i(class="flag-icon flag-icon-pt")
						| &nbsp;Português

if !authPurl
	div(id="header_loginModal")
	meta(id="header_loginModalLocale" data-code=locale.locale data-phrases=locale.phrases.loginModal)

div(id="header_searchModal")
meta(id="header_searchModalLocale" data-code=locale.locale data-phrases=locale.phrases.searchModal)

script(src="/public/scripts/pz-header.min.js")