link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.min.css")

link(rel="stylesheet" href="/public/stylesheets/bulma.css")
link(rel="stylesheet" href="/public/stylesheets/personzone.css")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(id="meta_data" data-authPurl=authPurl data-queryParams=queryParams)
script(src="/public/scripts/vendors.min.js")

script.
	document.addEventListener("DOMContentLoaded", function(){
		document.getElementsByTagName("body")[0].style.background = "#e9ebee";
	});