div(class="card")
	div(class="card-header")
		p(class="card-header-title")=`${user.first_name} ${user.last_name}`
	
	div(class="card-image")
		div(style="display:flex; justify-content:center")
			img(src=`/api/users/${purl}/avatar`)
	
	div(class="card-content" style="padding-left:12px; padding-right:12px")
		if authPurl === purl
			button(class="button is-fullwidth" disabled) Settings
			a(class="button is-fullwidth" href=`/a/${purl}/feedback`) Read Feedback
		else
			button(class="button is-fullWidth")=t("zoneSidebar.follow")

		hr

		div(class="box menu")
			p(class="menu-label")=t("zoneSidebar.other_zones")
			ul(class="menu-list")
				each z in user.zones
					li: a(class=`zoneSidebar_zoneLink ${z.zurl === zurl ? "is-active":""}` href=`/a/${purl}/z/${z.zurl}` data-zurl=z.zurl)=z.name
		
		if authPurl === purl
			button(id="zoneSidebar_createZoneBtn" class="button is-fullWidth")=t("zoneSidebar.create_zone")

if authPurl === purl
	div(id="zoneSidebar_createZoneModal")
	meta(id="zoneSidebar_createZoneModalLocale" data-code=locale.locale data-phrases=locale.phrases.createZoneModal)

script(src="/public/scripts/pz-zoneSidebar.min.js")