extends ../../layouts/app

block header
block footer

append content
	div(class="columns")
		div(class="column is-6")
			div(class="rank-item-list" style="height: 600")
				include ../../mixins/rank-item.pug
				each val in [0,1,2,3,4,5,6,7,8,9]
					+rank-item({
						name: "Pedro Marques",
						nameHref: "#",
						zone: "Personal",
						zoneHref: "#",
						imgSrc: "/public/images/placeholder.jpg",
						location: "Norwich, United Kingdom",
						rankNumber: val+1,
						rbox: {
							trait: "Basketball",
							traitPath: "Sports > Team sports > Basketball",
							average: (val % 5) + 1,
							nRatings: Math.round((Math.random() * 1800) + 1)
						}
					}, {})