extends ../../layouts/app.pug

block header
block footer

append content
	div(class="columns")
		div(class="column is-4")
			include ../../mixins/rbox.pug
			+rbox({
				trait: "Basketball",
				traitPath: "Sports > Team sports > Basketball",
				average: 3.6,
				nRatings: 25051
			},{
				showRater: false,
			})