//-
	@param {Object} data
		@param {Number} data.id The id of the comment
		@param {String} data.comment The text of the comment
		@param {String} data.zone The name of the zone the comment was made on
		@param {String} data.subzone The name of the subzone the comment was made on
	@param {Object} flags
		@param {Bool} flags.thanked If the comment has been thanked or not
mixin comment(data, flags)
	div(class="box comment"
		data-id=data.id
		data-thanked=flags.thanked
	)
		h1(class="title is-4")=`${data.zone}: ${data.subzone}`
		p()=data.comment

		div(class="field is-grouped is-grouped-right")
			div(class="control")
				button(class=`button is-primary ${!flags.thanked && "is-outlined"} thank-button`)
					if flags.thanked
						span(class="thank-button-text") Thanked!
					else
						span(class="thank-button-text") Say thanks!
					span(class="icon")
						i(class="fa fa-thumbs-up")