mixin paginationNumbers(currentPage, maxPage, getHref)
	if currentPage > 0
		li: a(
			class="pagination-link"
			href=getHref(0)
		) 1
		if currentPage > 2
			li: span(class="pagination-ellipsis") &hellip;

	if currentPage > 1
		li: a(
			class="pagination-link"
			href=getHref(currentPage-1)
		)=(currentPage)

	li: a(class="pagination-link is-current")=(currentPage+1)
	if currentPage < maxPage
		li: a(
			class="pagination-link"
			href=getHref(currentPage+1)
		)=(currentPage+2)

		if currentPage < maxPage-2
			li: span(class="pagination-ellipsis") &hellip;
		
		if currentPage < maxPage-1
			li: a(
				class="pagination-link"
				href=getHref(maxPage)
			)=(maxPage+1)