include staticRater.pug

//-
	Create a rank item

	@param {Object} data The data required to create a rankItem
		@param {Number} data.rank The number rank to display
		@param {String} data.name The name to display
		@param {String} data.zone_name The name of the zone to display
		@param {String} data.location The location to display
		@param {String} data.job_title The job title to display
		@param {String} data.avatar_src The src that links to the user's image
		@param {String} data.account_href The href that links to the user's page
		@param {String} data.zone_href The href that linkgs to the zone's page
		@param {Number} data.rating The rating to display
		@param {String} data.rating_title The name of the trait being ranked
		@param {Number} data.number_ratings The number of ratings for the zonetrait
	
	@param {Object} flags
		@param {Bool} flags.highlight If true will visually highlight this rank item

mixin rankItem(data, flags)
	-
		highlight = flags.highlight
		rank = data.rank
		name = data.name
		zone_name = data.zone_name
		location = data.location
		job_title = data.job_title
		avatar_src = data.avatar_src
		account_href = data.account_href
		zone_href = data.zone_href
		rating = data.rating
		rating_title = data.rating_title
		number_ratings = data.number_ratings

	div(class="box" style=(highlight && "background-color: rgba(20, 20, 200, 0.2)"))
		div(class="media")
			div(class="media-left")
				div(class="level")
					div(class="level-item")
						h1(class="title is-5" style="margin-right: 1em")=`${rank}.`
					div(class="level-item")
						img(src=avatar_src style="max-width: 88; max-height: auto")

			div(class="media-content")
				h1(class="title is-4")
					a(href=account_href)=name
					=" in "
					a(href=zone_href)=zone_name

				p(class="subtitle is-6" style="margin-bottom: 1.3em")
					if location && job_title
						=`${location} | ${job_title}`
					else if location
						=location
					else if job_title
						=job_title
					else
						| &nbsp;
				
				+staticRater(rating, rating_title, number_ratings)