include ./rbox.pug
//-
	@param {object} params
		@param {string} params.point
		@param {number} params.id
		@param {string} params.name
		@param {string} params.nameHref
		@param {string} params.zone
		@param {string} params.zoneHref
		@param {string} params.imgSrc
		@param {string} params.location
		@param {number} params.rankNumber
		@param {object} params.rbox
			@param {string} params.rbox.trait
			@param {string} params.rbox.traitPath
			@param {number} params.rbox.average
			@param {number} params.rbox.nRatings
mixin rank-item(params, flags)
	div(class="rank-item"
		data-point=params.point
		data-id=params.id
		data-markerContent=`
			<a href="#">${params.name}</a>
		`
	)
		div(class="media")
			div(class="media-left")
				img(class="image is-64x64" src=params.imgSrc)
			div(class="media-content")
				span
					h1(class="title is-6")
						a(href=params.nameHref)=params.name
						|  | 
						a(href=params.zoneHref)=params.zone
					if params.location
						div(class="subtitle is-6")
							span(class="rank-location")=params.location
			
				+rbox({
					trait: params.rbox.trait,
					traitPath: params.rbox.traitPath,
					average: params.rbox.average,
					nRatings: params.rbox.nRatings
				}, {
					showRater: false,
				})

			div(class="media-right")
				span(class="rank-number tag is-rounded is-large")=`${params.rankNumber}.`