//-
	@param {object} params
		@param {string} params.trait The trait name
		@param {string} params.traitPath The full path of the trait
		@param {number} params.average The average average
		@param {string} params.nRatings The number of ratings given
	@param {object} flags
		@param {boolean} flags.showRater Whether or not to show the rater
mixin rbox(params, flags)
	div(class="rbox")
		div(class="tooltip is-tooltip-right is-tooltip-multiline" data-tooltip=params.traitPath)
			div(class="rbox-title subtitle is-6")=params.trait
		div(class="tooltip is-tooltip-right" data-tooltip=`${params.average} (${params.nRatings} votes)`)
			div(class="rbox-average")
				span(class=`rbox-average-rating is-${Math.round(params.average)}`)

		if flags.showRater
			div(class="tooltip is-tooltip-right" data-tooltip="Last voted: 22nd May 2018")
				div(class="rbox-rater")
					span(class="rbox-rate is-1 is-usable")
					span(class="rbox-rate is-2 is-usable")
					span(class="rbox-rate is-3 is-usable")
					span(class="rbox-rate is-4 is-usable")
					span(class="rbox-rate is-5 is-usable")