//-
	Creates a static rater
		@param {Number} rating The rating to display in the rater
		@param {String} title The title to give to the rating (trait name)
		@param {Number} numberRatings The total number of ratings to display on the right

mixin staticRater(rating, title, numberRatings)
	div(style="display: flex; align-items: center")
		p(style="margin-right: 1em")=title
		div(class="rater" style="cursor: default")
			div(class="rating-box" style=`background-color: ${rating >= 1 ? "red" : "none"}`)
			div(class="rating-box" style=`background-color: ${rating >= 2 ? "orange" : "none"}`)
			div(class="rating-box" style=`background-color: ${rating >= 3 ? "yellow" : "none"}`)
			div(class="rating-box" style=`background-color: ${rating >= 4 ? "lightgreen" : "none"}`)
			div(class="rating-box" style=`background-color: ${rating >= 5 ? "green" : "none"}`)

		p(style="margin-left: 1em")=`(${numberRatings})`