//-
	Creates a subzone list
	
	@param {Object} data The data required to create a subzones list
		@param {Object[]} data.subzones A list of the subzones to display in the list
		@param {String} data.username The username of the owner of the list
		@param {Number} data.zoneId The id of the zone the subzones belong to
		@param {String} data.commenterPurl The personal url of the commenter. Used if enableCommenting is true
	
	@param {Object} flags The flags given to the subzone list
		@param {Bool} flags.loginToComment Whether or not to add a tooltip on the subzones, about needing to login to comment
		@param {Bool} flags.enableCommenting Whether or not to allow the user to comment
		@param {Bool} flags.enableCreating Whether or not to allow the user to create new subzones
		@param {Bool} flags.enableDeleting Whether or not to allow the user to delete subzones

mixin subzoneList(data, flags)
	-
		subzones = data.subzones
		username = data.username
		zoneId = data.zoneId
		commenterPurl = data.commenterPurl
		loginToComment = flags.loginToComment
		enableCommenting = flags.enableCommenting
		enableCreating = flags.enableCreating
		enableDeleting = flags.enableDeleting

	div(class="subzone-list"
		data-enableCommenting=flags.enableCommenting
		data-enableCreating=flags.enableCreating
		data-enableDeleting=flags.enableDeleting
		data-zoneId=data.zoneId
		data-commenterPurl=data.commenterPurl
		data-username=data.username
	)
		div(class="card")
			header(class="card-header")
				p(class="card-header-title")=t("subzoneList.title")
				p(class="card-header-icon" style="cursor: text")
					b #{t("subzoneList.total_subzones")}:
					| &nbsp;#{subzones.length}
			
			div(class="card-content")
				div(class="columns subzones")
					div(class="column is-6")
						+subzoneListTable({
							subzones: data.subzones.slice(0, Math.ceil(data.subzones.length / 2))
						},{
							enableDeleting: flags.enableDeleting,
							enableCommenting: flags.enableCommenting
						})
					div(class="column is-6")
						+subzoneListTable({
							subzones: data.subzones.slice(Math.ceil(data.subzones.length / 2))
						},{
							enableDeleting: flags.enableDeleting,
							enableCommenting: flags.enableCommenting
						})

				div(class="field is-grouped is-grouped-right")
					if flags.enableCreating
						div(class="control")
							button(class="button create-subzone-button")=t("subzoneList.create_subzone")

		if flags.enableCommenting
			div(class="comment-subzone-modal")

		if flags.enableCreating
			div(class="create-subzone-modal")

		if flags.enableDeleting
			div(class="delete-subzone-modal")

//-
	@param {Object} data
		@param {Object[]} data.subzones
	@param {Object} flags
		@param {Bool} flags.enableDeleting
		@param {Bool} flags.enableCommenting
mixin subzoneListTable(data, flags)
	table(class="table is-narrow is-fullwidth is-hoverable is-bordered")
		tbody
			each s in data.subzones
				tr: td
					+subzoneListItem({
						id: s.id,
						name: s.name,
					}, {
						enableDeleting: flags.enableDeleting,
						enableCommenting: flags.enableCommenting
					})

//-
	@param {Object} data
		@param {Number} data.id
		@param {String} data.name
	@param {Object} flags
		@param {Bool} flags.enableDeleting
		@param {Bool} flags.enableCommenting
mixin subzoneListItem(data, flags)
	div(class="level subzone"
		data-name=data.name
		data-id=data.id
	)
		div(class="level-item" style="flex: 1"): p(class="has-text-left" style="width: 100%")=data.name
		div(class="level-item" style="flex: 1")
			div(class="has-text-right" style="width: 100%")
				if enableCommenting
					button(class="button is-small comment-button")
						span(class="icon" style="pointer-events: none")
							i(class="fa fa-commenting")

				if enableDeleting
					button(class="button is-danger is-small is-outlined delete-button")
						span(class="icon" style="pointer-events: none")
							i(class="fa fa-trash")