//-
	@param {String} purl The user's personal url

mixin unverifiedEmailMessage(purl)
	div(class="message is-info")
		div(class="message-body")
			div(class="columns")
				div(class="column")
					p Your email has not yet been verified. Check your email inbox for a verification email from Personzone.
				div(class="column is-narrow")
					button(class="button is-pulled-right is-outlined" onClick=`this.setAttribute("disabled", true); var xml = new XMLHttpRequest(); xml.open("get", "/api/users/${purl}/resend-email-verification", false); xml.send();`) Resend verification email