//-
	@param {Object} data
		@param {String} data.name
		@param {String} data.purl
		@param {String} data.location

	@param {Object} flags
		@param {Bool} [flags.large=False]
		@param {Bool} [flags.titleName=False]

mixin userThumbnail(data, flags={})
	div(class="media")
		div(class="media-content")
			div(class="is-flex" style="text-align:center; flex-direction: column; align-items: center")
				a(href=`/a/${data.purl}`)
					img(class=`image avatar ${flags.large ? "avatar-large" : "avatar-small"}` src=`/api/users/${data.purl}/avatar`)
			
				if flags.titleName
					h1(class="title is-4")=data.name
				else
					a(href=`/a/${data.purl}`)=data.name
				
				if data.location
					p=data.location