//-
	@param {Object} data Data needed to generate the zone sidebar
		@param {String} data.name The user's name
		@param {String} data.purl The user's personal url
		@param {String} data.zurl The zone's url
		@param {Object[]} data.zones The user's zones.

	@params {Object} flags Flags needed to generate the zone sidebar
		@param {Bool} [flags.owner=False] Whether the current user is the owner of the zone

mixin zoneSidebar(data, flags)
	span(class="zone-sidebar" data-purl=data.purl data-zones=data.zones)
		div(class="box")
			include userThumbnail.pug
			+userThumbnail({
				name: data.name,
				purl: data.purl,
			},{
				large: true,
				titleName: true,
			})

			hr

			div(class="box menu is-radiusless")
				p(class="menu-label") General
				ul(class="menu-list")
					if flags.owner
						li: a(class="is-unselectable" href=`/a/${data.purl}/settings`) Settings
						li: a(class="is-unselectable" href=`/a/${data.purl}/feedback`) Read feedback
					else
						li: a(class="is-unselectable") Follow

				if data.zones
					p(class="menu-label") Zones
					ul(class="menu-list")
						for z in data.zones
							li: a(class=`is-unselectable ${(z.zurl === data.zurl) && "is-active"}` href=`/a/${data.purl}/z/${z.zurl}`)=z.name
						
						if flags.owner
							li: ul: li: a(class="is-unselectable create-zone-btn") + Create new zone

		if flags.owner
			div(class="create-zone-modal")