//-
	Creates a zonetrait list
	
	@param {Object} data The data required to create a zonetrait list
		@param {Object[]} data.zonetrait A list of zonetraits to display in the list
		@param {String} data.username The username of the owner of the list
		@param {Number} data.zoneId The id of the zone the subzones belong to
		@param {String} data.raterPurl The personal url of the rater. Used if enableRating is true
	
	@param {Object} flags The flags given to the zonetrait list
		@param {Bool} flags.loginToRate Wether or not to add a tooltip on the zonetraits, about needing to login to rate
		@param {Bool} flags.enableRating Whether or not to allow the user to rate
		@param {Bool} flags.enableCreating Whether or not to allow the user to create new zonetraits
		@param {Bool} flags.enableDeleting Whether or not to allow the user to delete zonetraits

mixin zonetraitList(data, flags)
	-
		zonetraits = data.zonetraits
		username = data.username
		zoneId = data.zoneId
		raterPurl = data.raterPurl
		loginToRate = flags.loginToRate
		enableRating = flags.enableRating
		enableCreating = flags.enableCreating
		enableDeleting = flags.enableDeleting

	div(class="zonetrait-list" 
		data-enableRating=enableRating
		data-enableCreating=enableCreating
		data-enableDeleting=enableDeleting
		data-zoneId=zoneId
	)
		div(class="card")
			header(class="card-header")
				p(class="card-header-title")=t("zonetraitList.title")
				p(class="card-header-icon" style="cursor: text")
					b #{t("zonetraitList.total_zonetraits")}:
					| &nbsp;#{zonetraits.length}
			
			div(class="card-content")
				div(class="columns zonetraits")
					div(class="column is-6")
						+zonetraitListTable({
							zonetraits: data.zonetraits.slice(0, Math.ceil(data.zonetraits.length / 2))
						}, {
							enableDeleting: flags.enableDeleting
						})
					div(class="column is-6")
						+zonetraitListTable({
							zonetraits: data.zonetraits.slice(Math.ceil(data.zonetraits.length / 2))
						}, {
							enableDeleting: flags.enableDeleting
						})
						
				div(class="field is-grouped is-grouped-right")
					if enableCreating
						div(class="control")
							button(class="button create-zonetrait-button")=t("zonetraitList.create_zonetrait")

		if enableCreating
			div(class="create-zonetrait-modal")

		if enableDeleting
			div(class="delete-zonetrait-modal")

//-
	@param {Object} data
		@param {Object[]} data.zonetraits
	@param {Object} flags
		@param {Bool} flags.enableDeleting
mixin zonetraitListTable(data, flags)
	table(class="table is-narrow is-fullwidth is-hoverable is-bordered")
		tbody
			each z in data.zonetraits
				tr: td
					+zonetraitListItem({
						id: z.id,
						name: z.trait.name,
						rating: (z.final_rating || (z.rating ? z.rating.rating : null)),
						totalRatings: z.total_ratings
					}, flags)

//-
	@param {Object} data
		@param {Number} data.id
		@param {String} data.name
		@param {String} [data.rating]
		@param {String} [data.totalRatings]
	@param {Object} flags
		@param {Bool} flags.enableDeleting
mixin zonetraitListItem(data, flags)
	div(class="level zonetrait"
		data-name=data.name
		data-id=data.id
		data-rating=data.rating
		data-totalRatings=data.totalRatings
	)
		
		div(class="level-item" style="flex: 1"): p(class="has-text-left" style="width: 100%")=data.name
		div(class="level-item" style="flex: 0")
			div(class="rater")
	
		if enableDeleting
			div(class="level-item" style="flex: 1")
				div(class="has-text-right" style="width: 100%")
					button(class="button is-danger is-small is-outlined delete-button")
						span(class="icon" style="pointer-events: none")
							i(class="fa fa-trash")