// Initial bulma set up
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Our setup, and overriding bulma's setup
@import "./variables";

// Main bulma, with our overritten setup, including bulma extensions
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-extensions/extensions";
@import "../../node_modules/cool-checkboxes-for-bulma.io/dist/css/bulma-radio-checkbox";

// Our pages
@import "./pages/welcome";
@import "./pages/rankings";

// Our components
@import "./components/_rater";
@import "./components/_zonetraitList";
@import "./components/_rank-item";
@import "./components/_rbox";

// Other
body {
	background-color: #e9ebee;
	display: flex;
	flex-direction: column;

	& > .container {
		padding-top: 16px;
	}
}

.footer {
	flex: 1;
	padding: 24px;
}

.avatar {
	border-radius: 50%
}

.avatar-small {
	height: 96px;
	width: 96px;
}

.avatar-large {
	height: 160px;
	width: 160px;
}